<div class="bg-orange-700 text-slate-200 flex items-center justify-between w-full p-2">

  <h1 class="logo text-2xl font-serif italic font-black">KenzLog</h1>

	<ul class="flex items-center justify-between">
    <li class="in-item">
      <%= link_to 'Home', root_path, class: "in-link italic text-xl font-serif hover:text-lg" %>
    </li>
		<% if user_signed_in? %>
      <p class="in-name">Welcome: <%= current_user.name.capitalize  if current_user.present?%></p>
      <li class="in-item">
      <%= link_to 'LogOut', destroy_user_session_path, class: "in-link italic text-xl hover:text-lg font-serif", method: :delete %>
      </li>
    <% else %>
      <li class="in-item">
        <%= link_to 'LogIn', user_session_path, class: "in-link italic text-xl hover:text-lg font-serif " %>
      </li>
      <li class="in-item">
        <%= link_to "Sign Up", new_user_registration_path, class:"in-link italic text-xl hover:text-lg font-serif "%>
      </li>
    <% end %>
	</ul>

  <form class="my-2" action="/search">
    <input class="form-control mr-sm-2 border-0 rounded-xl w-52 h-8" name="q" type="search" placeholder=" ...Search document" aria-label="Search">
    <button class="bg-cyan-800 p-2 rounded-lg my-1 mx-1" type="submit">Search</button>
  </form>

</div>
