<div class="show section-1">
	<div class="c-s">
		<div class="img-contain show-img">
			<% if @article.image.attached?%>
				<%= image_tag(@article.image)%>
			<% end %>
			<%= @article.user.email %>
		</div>
		<div class="con-contain">
			<div>
				<h1><%= @article.title %></h1>
				<p><%= @article.category.humanize%></p>
			</div>
			<div>
			<% if @article.bodypdf.attached?%>
				<%= link_to 'Download', rails_blob_path(@article.bodypdf, disposition: "attachment"), class: "nav-link" %>
			<% end %>
			</div>
		</div>
	</div>
	 <span class="btn-like"><%=like_or_dislike_btn(@article)%></span>
	<%=likes_count(@article)%> likes

	<%= render 'comments/form' %>

	<h3>Comments:</h3><br/>
	<%= render @article.comments.select(&:persisted?) %>


	<%= link_to 'back', root_path%>

	<%if @article.user == current_user || current_user.admin%>
		<%= link_to 'Edit', edit_article_path(@article)%>
		<%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure"}%>
	<% end %>
</div>

	<%= render 'footer' %>
