<div class="show section-1">
<% if current_user %>
	<%= link_to 'Manage Billing', portal, class:"nav-link" %>
<% end %>
	<div class="c-s">
		<div class="img-contain show-img">
			<% if @article.image.attached?%>
				<%= image_tag(@article.image)%>
			<% end %>
		</div>
		<div class="con-contain">
			<div>
				<h1><%= @article.title %></h1>
				<p><%= @article.category.humanize%></p>
			</div>
			<div>
			<% if @article.bodypdf.attached?%>
				<%= link_to 'Download', rails_blob_path(@article.bodypdf, disposition: "attachment"), class: "nav-link" %>
			<% end %>
			</div>
		</div>
	</div>
	<%= @article.likes.count %> likes
	<% like = current_user.likes.find_by(article: @article)%>
	<% if like.nil? %>
	<form action="/likes" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
		<input type="hidden" name="like[article_id]" value="<%= @article.id%>">
		<input type="submit" value="Like">
	</form>
	<% else %>
	<form action="<%= like_path(like)%>" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
		<input type="hidden" name="_method" value="DELETE">
		<input type="submit" value="Unlike">
	</form>
	<% end %>

	<%= render 'comments/form' %>

	<% @article.comments.each do |comment|%>
		<p><%= comment.content %></p>
	<% end %>

	<%= link_to 'back', root_path%>

	<%if @article.user == current_user%>
		<%= link_to 'Edit', edit_article_path(@article)%>
		<%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure"}%>
	<% end %>
</div>

	<%= render 'footer' %>
