<div class="show section-1">
<% if current_user %>
	<%= link_to 'Manage Billing', portal, class:"nav-link" %>
<% end %>
	<div class="c-s">
		<div class="img-contain show-img">
			<% if @article.image.attached?%>
				<%= image_tag(@article.image)%>
			<% end %>
		</div>
		<div class="con-contain">
			<div>
				<h1><%= @article.title %></h1>
				<p><%= @article.category.humanize%></p>
			</div>
			<div>
			<% if @article.bodypdf.attached?%>
				<%= link_to 'Download', rails_blob_path(@article.bodypdf, disposition: "attachment"), class: "nav-link" %>
			<% end %>
			</div>
		</div>
	</div>
	<%= render 'comments/form' %>

	<% @article.comments.each do |comment|%>
		<p><%= comment.content %></p>
	<% end %>

	<%= link_to 'back', root_path%>

	<%if @article.user == current_user%>
		<%= link_to 'Edit', edit_article_path(@article)%>
		<%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure"}%>
	<% end %>
</div>

	<%= render 'footer' %>
