<div class="form-center">
<div class="center">

<h2>Log in</h2>

<p class="notice notice-color"><%= notice %></p>
<p class="alert notice-color"><%= alert %></p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <% f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"input", placeholder:"name" %>
  </div>
  <div class="field form-group">
    <% f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", class:"input", placeholder:"email" %>
  </div>

  <div class="field form-group">
    <% f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"input", placeholder:"password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field form-group check">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: "lab" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "LogIn", class:"btn", role: "button" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
</div>
</div>
